<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class='container'>
    <div class="text-center">
    <br>
    <h1>Sign Up<h1>
    </div>
    <br>
    <br>
    <div class="text-center">
    <div class="d-flex justify-content-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control rounded-pill' %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class:'form-control rounded-pill' %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control rounded-pill' %>
            </div>
              <br>
            <div class="actions">
              <%= f.submit "Sign up", class:'btn btn-dark btn-lg rounded-pill' %>
            </div>

          </div>
              <br>
          <h6><i>Do you already have an account ? </i></h6>
          <%= render "devise/shared/links" %>
          <% end %>

          </div>
        </div>
      </div>
