<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class='container'>
    <div class="text-center">
    <br>
    <h1>Forgot your password ?<h1>
      <h6><i>Don't worry, everything's gonna be alright !</i></h6>
    <br>
    <br>
    </div>
    <div class="text-center">
      <div class="d-flex justify-content-center">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control rounded-pill' %>
        </div>
          <br>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class:'btn btn-outline-light btn-lg rounded-pill' %>
        </div>
          <br>
        <%= render "devise/shared/links" %>
        <% end %>
      </div>
  </div>
</div>






