<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class='container'>
    <div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <h1>WELCOME ON EVENBRIT<h1>
      <h5>All events in your city</h5>
    <br>
    <br>
    <br>
    <br>
    <br> 
      <% if user_signed_in? %>
        <div class="text-center">
        
          <p>Voici ton email : <%= current_user.email %></p>
     
          <%= link_to "Edit email / password", edit_user_registration_path, class:'btn btn-outline-dark rounded-pill' %>

          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:'btn btn-outline-dark rounded-pill' %>
    ​    </div>

      <% else %>

          <%= link_to "Sign in", new_user_session_path, class:'btn btn-outline-light btn-lg rounded-pill'%>
          <%= link_to "Sign up", new_user_registration_path, class:'btn btn-outline-light btn-lg rounded-pill' %>
    
        <% end %>
      
    </div>
  </div>
</div>
