<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class='container'>
    <div class="text-center">
    <br>
    <h1>The Events Place<h1>
      <h6>Please, enter your personal informations to access .</h6>
    <br>
    <br>
    </div>
    <div class='text-center'>
      <div class="d-flex justify-content-center">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control rounded-pill' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:'form-control rounded-pill' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      
        <div class="actions">
          <%= f.submit "Log in", class:'btn btn-light btn-lg rounded-pill' %>
        </div>
        <br>
        <%= render "devise/shared/links" %>
        <% end %>

      </div>
  </div>
</div>





